{% extends "layout.html" %}

{% block content %}
<h1>Welcome, Cashier</h1>
<p>You have access to Cashier features.</p>
<a class="btn-primary" style="text-decoration: none;" href="{{ url_for('transaction.transaction_history') }}">Transaksi</a>
<a class="btn-primary" style="text-decoration: none;" href="{{ url_for('auth.atur_produk') }}">Atur Produk</a>
<a class="btn-primary" style="text-decoration: none;" href="{{ url_for('auth.profile') }}">Profil</a>
<br>
<br>
<form action="{{ url_for('transaction.search_nik') }}" method="POST">
    <label for="nik">Cari NIK:</label>
    <input type="number" id="nik" name="nik" required>
    <button type="submit">Cari</button>
</form>
<br>

<!-- Tombol Logout -->
<button class="btn-logout" onclick="showLogoutModal()">Logout</button>

<!-- Modal Konfirmasi Logout -->
<div id="logoutModal" class="modal">
    <div class="modal-content">
        <h2>Confirm Logout</h2>
        <p>Are you sure you want to logout?</p>
        <button class="btn-cancel" onclick="closeLogoutModal()">Cancel</button>
        <form action="{{ url_for('auth.logout') }}" method="post" style="display:inline;">
            <button type="submit" class="btn-confirm">Logout</button>
        </form>
    </div>
</div>

<script>
// Show the modal
function showLogoutModal() {
    document.getElementById("logoutModal").style.display = "block";
}

// Hide the modal
function closeLogoutModal() {
    document.getElementById("logoutModal").style.display = "none";
}

// Hide modal if the user clicks outside of it
window.onclick = function(event) {
    var modal = document.getElementById("logoutModal");
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
{% endblock %}
