<!-- templates/confirmation.html -->
{% extends "layout.html" %}
{% block content %}
<h2>Konfirmasi Transaksi</h2>
<p>Apakah Anda yakin ingin mengisi {{ jumlah_tabung }} tabung?</p>

<form method="POST" action="{{ url_for('transaction.confirm_transaction') }}">
    <input type="hidden" name="customer_id" value="{{ customer.id }}">
    <input type="hidden" name="jumlah_tabung" value="{{ jumlah_tabung }}">
    <button type="submit">Proses Transaksi</button>
</form>
<br>
<a href="{{ url_for('transaction.transaction_page', customer_id=customer.id) }}" class="btn-primary">Ubah Pesanan</a>
{% endblock %}
s