<!-- templates/edit_customer.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Customer</title>
</head>
<body>
    <h1>Edit Customer</h1>
    <form action="{{ url_for('auth.update_customer', id=customer.id) }}" method="post">
        <label for="nik">NIK:</label>
        <input type="text" id="nik" name="nik" value="{{ customer.nik }}" required><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ customer.name }}" required><br>
        <label for="max_tabung">Max Tabung:</label>
        <input type="number" id="max_tabung" name="max_tabung" value="{{ customer.max_tabung }}" required><br>
        <button type="submit">Update Customer</button>
    </form>
    <a href="{{ url_for('auth.get_customers') }}">Back to Customers List</a>
</body>
</html>
